.DS_Store
.DS_Store?
.vscode
Thumbs.db
.log
*.log
node_modules
miniprogram_npm

miniprogram/.DS_Store
miniprogram/node_modules
miniprogram/miniprogram_npm

cloudfunctions/.DS_Store
cloudfunctions/node_modules
cloudfunctions/miniprogram_npm

private.key
.env.pro
.env.local
deploy.json
assets
keys
qrcode.jpg
./tmd
